.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#calendar-header {
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.dayOfWeekHeader {
  border: 1px solid black;
  display: inline-block;
  background: lightblue;
  margin: 0 auto;
  flex-grow: 1;
  height: 40px;
  width: calc(100% * (1/5) - 10px - 1px)
}

#calendar {
  margin: 0 auto;
  padding-top: 0px !important;
  padding: 20px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.day-of-week {
  border: 1px solid black;
  display: inline-block;
  background: lightblue;
  margin: 0 auto;
  flex-grow: 1;
  height: 100px;
  width: calc(100% * (1/5) - 10px - 1px)
}
.real-day:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}

.modal-content {
  margin: 0 auto;
  text-align: center;
}

input {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-3 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; z-index: 99;}
.effect-3 ~ .focus-border:before, 
.effect-3 ~ .focus-border:after{content: ""; position: absolute; bottom: 0; left: 0; width: 0; height: 100%; background-color: #4caf50; transition: 0.4s;}
.effect-3 ~ .focus-border:after{left: auto; right: 0;}
.effect-3:focus ~ .focus-border:before, 
.effect-3:focus ~ .focus-border:after{width: 50%; transition: 0.4s;}

input[type=submit] {
  margin-top: 10px;
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.num-players {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
}
.num-players:hover {
  box-shadow: 0px 0px 2px 2px #222;
  cursor: pointer;
}